# This will change the location of the .env file from locally in the directory, to a secured credentials folder.
version: "3.4"
services:
  web:
    environment: 
      instance: "PROD"
      service: "PROD.ORARAC2"
      full_login: "{database_user}@prod"    
    env_file:
      - /opt/credentials/{app_name}.env